<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow"
       data-bs-theme="dark"
       style="--bs-secondary-bg:#0F3D5E; --bs-body-color:#E8F0F7; --bs-border-color:rgba(255,255,255,.12);" >
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="./index.html" class="brand-link">
            <!--begin::Brand Image-->
            <img src="./assets/img/AdminLTELogo.png"
                 alt="AdminLTE Logo"
                 class="brand-image opacity-75 shadow" />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">Lojman</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="navigation"
                aria-label="Main navigation"
                data-accordion="false"
                id="navigation">

              
                
                
                 <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Başvuru</p>
                    </a>
                </li>>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Akademik" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Akademik liste</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Idari" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>İdari liste</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Cikis" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Çıkış İşlemleri</p>
                    </a>
                </li>
              
              
             
               
            </ul>
            <!--end::Sidebar Menu-->
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->