@{
    ViewData["Title"] = "Home Page";
}

<!--begin::App Main-->
<main class="app-main">



    <!DOCTYPE html>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
        <title>
            Şırnak Üniversitesi
        </title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="stil.css" rel="stylesheet" />
        <link rel="shortcut icon" href="admin/assets/images/unilogo.png" />
        <link href="admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="admin/assets/css/style.css" rel="stylesheet" type="text/css" />

        <style>
            .lbl {
                font-size: 12px !important;
                font-weight: 400 !important;
                color: #000 !important;
            }
        </style>

        <script type="text/javascript">
            function sayi(degisken) {
                degisken = (degisken) ? degisken : window.event;
                var charCode = (degisken.which) ? degisken.which : degisken.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
        </script>

    </head>
    <body style="background: #ecf0f5">

        <form method="post" action="./" id="form1">
            <div class="aspNetHidden">
                <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
                <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
                <input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" />
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="okSyoqDXOPqJYlzanKqET/wcfqhdx5jvFUF+5w3FFynO+QoOonlFUkWg+9j/wKuHVCbuX1ZX3bvyt5XKnAJUx5CLJ0pq76vr3g6+IYvaHtBlcxE1BG/TTRsJoEY4ceSL731rcCsESd3zB8/j1uq29F5tcmkSemMBpXrz5LvO8WKcMGCatv+ipfcullheow//ESqb2tTB2j/ZmjT1h6LIeIOuMT40uOMTxgpAxVbxC0JBUkZwtDQVRz4BEHvhrMCGKE4oo6VE8x/f5b5E0o5+FoTYjHWxGrerZpLYwEz6ne9PT/gBldgIf9evoEyWIkYDPISEYh7wAafmOWUe7RiMcN4O2bB61M5YuuzhoVV4G60=" />
            </div>

            <script type="text/javascript">
                //<![CDATA[
                var theForm = document.forms['form1'];
                if (!theForm) {
                    theForm = document.form1;
                }
                function __doPostBack(eventTarget, eventArgument) {
                    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                        theForm.__EVENTTARGET.value = eventTarget;
                        theForm.__EVENTARGUMENT.value = eventArgument;
                        theForm.submit();
                    }
                }
                //]]>
            </script>


            <script src="/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZBrOMxdZYPpV-u9nNDBVjwA46NF2ttWT662irnc_isFfHuFvBiJCM9mJf5bgf6b3bA2&amp;t=638563380220000000" type="text/javascript"></script>


            <script src="/ScriptResource.axd?d=D9drwtSJ4hBA6O8UhT6CQvur24MqDFJrNLB7watBXfaeI_JTfttqT3QNm0AwDHBMfppO4J8t1XcgMSaZ3CaKPgP1WNpH7CXJr6vl90DlA9IRnzmLAYvmGaSDscHsi6ypjmXYMlusHmzKnNgDEyKwX_hzuxPNva7Vb0loHR4hvsM1&amp;t=ffffffffc820c398" type="text/javascript"></script>
            <script type="text/javascript">
                //<![CDATA[
                if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
                //]]>
            </script>

            <script src="/ScriptResource.axd?d=JnUc-DEDOM5KzzVKtsL1tUz5jUprW0NDJbQeolyEDxZ968xKuqezmlnr5JStYFx2ialSXLGeO4-IDl15ScpavKuLnjKrI8QR5r6VoiRiUgCXD68jn1MVE8E-I97ZIXms4qtmKbX_LmXi3EcxnLknEjWNT7uZUFMH9D9Ag2Sol6F7yrxRUhIzh9Tnr5k6NONI0&amp;t=ffffffffc820c398" type="text/javascript"></script>
            <script src="/WebResource.axd?d=JoBkLzP19aTuxbWOhHobYmt3JCYd6Vm5MTqNyqF8aY1iQe0SuQss4fydEtIVByWiZuLVJM85WYFWXbfecwFmJA2&amp;t=638563380220000000" type="text/javascript"></script>
            <div class="aspNetHidden">

                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
            </div>
            <script type="text/javascript">
                //<![CDATA[
                Sys.WebForms.PageRequestManager._initialize('ScriptManager1', 'form1', [], [], [], 90, '');
                //]]>
            </script>


            <div class="content-center" style="padding: 30px">
                <div class="content-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3 class="text-center mt-0 m-b-15">
                                                    <a href="#" class="logo logo-admin">
                                                        <img src="admin/assets/images/unilogo.png" height="70" alt="logo" />
                                                    </a>
                                                </h3>
                                            </div>

                                            <div class="col-md-6 m-t-10">
                                                <p class="text-center" style="line-height: 7px; color: #000000; font-size: 15px; font-weight: 600">T.C. ŞIRNAK ÜNİVERSİTESİ</p>
                                                <p class="text-center" style="line-height: 7px; color: #000000; font-weight: 600">LOJMAN TAHSİSİ BAŞVURU FORMU</p>
                                            </div>


                                        </div>

                                        <div class="row" style="margin-top: 40px">

                                            <div class="col-lg-1"></div>

                                            <div class="col-lg-12">
                                                <div class="p-20">

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Adınız ve Soyadınız</label>
                                                        <div class="col-sm-6">
                                                            <input name="txtAdSoyad" type="text" id="txtAdSoyad" class="form-control" require="" />
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">TC Kimlik Numaranız</label>
                                                        <div class="col-sm-6">
                                                            <input name="txtTcNo" type="text" maxlength="11" id="txtTcNo" class="form-control" onkeypress="return sayi(event)" required="" />
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kurum Sicil Numaranız</label>
                                                        <div class="col-sm-6">
                                                            <input name="txtSicilNo" type="text" id="txtSicilNo" class="form-control" required="" />
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Görev Unvanınız</label>
                                                        <div class="col-sm-6">
                                                            <select name="DdlUnvan" id="DdlUnvan" class="form-control">
                                                                <option value="1">Profes&#246;r</option>
                                                                <option value="2">Do&#231;.Dr.</option>
                                                                <option value="3">Dr.&#214;ğretim &#220;yesi</option>
                                                                <option value="4">Araş.G&#246;r.Dr.</option>
                                                                <option value="5">Araş.G&#246;r.</option>
                                                                <option value="5">&#214;ğr.G&#246;r.</option>
                                                                <option value="6">İdari Personel</option>
                                                                <option value="7">S&#252;rekli İş&#231;i</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Görev Yeriniz</label>
                                                        <div class="col-sm-6">
                                                            <select name="DdlGorevYeri" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;DdlGorevYeri\&#39;,\&#39;\&#39;)&#39;, 0)" id="DdlGorevYeri" class="form-control">
                                                                <option value="3">Bilgi İşlem Daire Başkanlığı</option>
                                                                <option value="2">İdari Mali İşler Daire Başkanlığı</option>
                                                                <option value="4">M&#252;hendislik Fak&#252;ltesi</option>
                                                                <option value="6">Rekt&#246;rl&#252;k</option>

                                                            </select>

                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Cep Numarası</label>
                                                        <div class="col-sm-6">
                                                            <input name="txtCepNo" type="text" maxlength="11" id="txtCepNo" class="form-control" onkeypress="return sayi(event)" required="" />
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kamu konutları kapsamına giren kurum ve kuruluşlarda geçen hizmet süreniz</label>
                                                        <div class="col-sm-3">
                                                            <select name="DdlHizmetSureYil" id="DdlHizmetSureYil" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select name="DdlHizmetSureAy" id="DdlHizmetSureAy" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kamu konutları kapsamına giren kurum ve kuruluşların konutlarından daha önce yararlanmışsanız konutta oturduğunuz süre</label>
                                                        <div class="col-sm-3">
                                                            <select name="DdlKonuttaOturulansureYil" id="DdlKonuttaOturulansureYil" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select name="DdlKonuttaOturulansureAy" id="DdlKonuttaOturulansureAy" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kamu konutları kapsamına giren kurum ve kuruluşlarda konut tahsisi için beklediğiniz süre</label>
                                                        <div class="col-sm-3">
                                                            <select name="DdlBeklenenSureYil" id="DdlBeklenenSureYil" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select name="DdlBeklenenSureAy" id="DdlBeklenenSureAy" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Medeni Hali</label>
                                                        <div class="col-sm-6">
                                                            <select name="DdlMedeniHali" id="DdlMedeniHali" class="form-control">
                                                                <option value="0">Bekar</option>
                                                                <option value="1">Evli</option>
                                                                <option value="2">Dul</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kamu konutunun bulunduğu il veya ilçenin belediye ve mücavir alan sınırları içinde sizin, eşinizin, kanunen bakmakla yükümlü olduğunuz ve konutta beraber oturacağınız aile fertlerinin oturmaya elverişli konutu var mı?(cevabınız evet ise yandaki boş kutucuğa konut sayısını yazınız</label>
                                                        <div class="col-sm-3">
                                                            <select name="DdlIldeKonut" id="DdlIldeKonut" class="form-control">
                                                                <option value="1">Evet</option>
                                                                <option value="2">Hayır</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">

                                                            <input name="txtIldeKonutSayisi" type="text" maxlength="11" id="txtIldeKonutSayisi" class="form-control" onkeypress="return sayi(event)" placeholder="Konut sayısını giriniz" />
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kamu konutunun bulunduğu il veya ilçenin belediye ve mücavir alan sınırları dışında sizin, eşinizin, kanunen bakmakla yükümlü olduğunuz ve konutta beraber oturacağınız aile fertlerinin oturmaya elverişli konutu var mı?(cevabınız evet ise yandaki boş kutucuğa konut sayısını yazınız</label>
                                                        <div class="col-sm-3">
                                                            <select name="DdlIldisindaKonut" id="DdlIldisindaKonut" class="form-control">
                                                                <option value="1">Evet</option>
                                                                <option value="2">Hayır</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">

                                                            <input name="txtIldisindaKonutSayisi" type="text" maxlength="11" id="txtIldisindaKonutSayisi" class="form-control" onkeypress="return sayi(event)" placeholder="Konut sayısını giriniz" />
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kademe ilerlemesinin derece yükselmesinin durdurulması veya bu cezaya eş ya da daha ağır bir disiplin cezası aldınız mı?</label>
                                                        <div class="col-sm-6">
                                                            <select name="DdlDisiplinCeza" id="DdlDisiplinCeza" class="form-control">
                                                                <option value="1">Evet</option>
                                                                <option value="2">Hayır</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Görevi ihmal ya da  su istimalden mahkumiyetiniz var mı?</label>
                                                        <div class="col-sm-6">
                                                            <select name="DdlGorevIhmal" id="DdlGorevIhmal" class="form-control">
                                                                <option value="1">Evet</option>
                                                                <option value="2">Hayır</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Eşiniz kamu konutları kanunu kapsamına giren kurum ve kuruluşlarda çalışıyor mu?</label>
                                                        <div class="col-sm-6">
                                                            <select name="DdlEsKamudaMi" id="DdlEsKamudaMi" class="form-control">
                                                                <option value="1">Evet</option>
                                                                <option value="2">Hayır</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Kanunen bakmakla yükümlü olduğunuz çocuk sayısı</label>
                                                        <div class="col-sm-3">

                                                            <select name="DdlCocukSayisi" id="DdlCocukSayisi" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-6 col-form-label text-left lb">Eşiniz çocuklarınız dışında kanunen bakmakla yükümlü olduğunuz ve konutta beraber oturacağınız aile fertlerinin (anne ve babanızın) sayısı </label>
                                                        <div class="col-sm-3">

                                                            <select name="DdlYukumluKisiSayisi" id="DdlYukumluKisiSayisi" class="form-control">
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="form-group row">
                                                    <label for="" class="col-sm-6 col-form-label text-left lb">Engel durumunuz var mı?</label>
                                                    <div class="col-sm-6">
                                                        <select name="DdlEngelDurumu" id="DdlEngelDurumu" class="form-control">
                                                            <option value="1">Evet</option>
                                                            <option value="2">Hayır</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="form-group row">
                                                    <label for="" class="col-sm-6 col-form-label text-left lb">Eşiniz ve çocuklarınız dahil kanunen bakmakla yükümlü olduğunuz ve konutta beraber oturacağınız aile fertlerinden engelli olan var mı? (Cevabınız “evet” ise yandaki boş kutucuğa engelli kişi sayısını yazınız)</label>
                                                    <div class="col-sm-3">
                                                        <select name="DdlEngelliKisiler" id="DdlEngelliKisiler" class="form-control">
                                                            <option value="1">Evet</option>
                                                            <option value="2">Hayır</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3">

                                                        <input name="txtEngelliKisiSayisi" type="text" maxlength="11" id="txtEngelliKisiSayisi" class="form-control" onkeypress="return sayi(event)" placeholder="Kişi sayısını giriniz" />
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="form-group row">
                                                    <label for="" class="col-sm-6 col-form-label text-left lb">Gazi veya şehit yakını mısınız?</label>
                                                    <div class="col-sm-6">
                                                        <select name="DdlSehitGaziYakini" id="DdlSehitGaziYakini" class="form-control">
                                                            <option value="1">Hayır</option>
                                                            <option value="2">Şehit Yakını</option>
                                                            <option value="3">Gaziyim</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-6 col-form-label text-left lb">Şehit Yakınlığı</label>
                                                    <div class="col-sm-6">
                                                        <select name="DdlSehitKisiler" id="DdlSehitKisiler" class="form-control">
                                                            <option value="Yok">Yok</option>
                                                            <option value="Anne">Anne</option>
                                                            <option value="Baba">Baba</option>
                                                            <option value="Kardeş">Kardeş</option>
                                                            <option value="Eş">Eş</option>
                                                            <option value="Çoocuk">&#199;oocuk</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <hr />

                                                <div class="form-group row">
                                                    <label for="" class="col-sm-6 col-form-label text-left lb">Aylık ve özlük haklarınız hariç konutta birlikte oturacağınız aile fertlerinin yıllık gelirleri</label>
                                                    <div class="col-sm-6">
                                                        <input name="txtGelirTL" type="text" id="txtGelirTL" class="form-control" placeholder="TL" required="" />
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-12 col-form-label text-left lb">Eşiniz ve çocuklarınız dışında kanunen bakmakla yükümlü olduğunuz ve konutta birlikte oturacağınız aile fertlerinin (anne ve babanızın)</label>
                                                    <div class="table-responsive">
                                                        <table border="0" cellpadding="8" style="width: 100%; margin-top: 15px">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="color: #444444; font-weight: 600"></td>
                                                                    <td style="color: #444444; font-weight: 600">ADI VE SOYADI</td>
                                                                    <td style="color: #444444; font-weight: 600">DOĞUM TARİHİ</td>
                                                                    <td style="color: #444444; font-weight: 600">DOĞUM YERİ</td>
                                                                    <td style="color: #444444; font-weight: 600">YAKINLIĞI</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>1-)</td>
                                                                    <td>
                                                                        <input name="txtEvdeKisi1" type="text" id="txtEvdeKisi1" class="form-control" required="" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="txtEvdeKisiDogTarih1" id="txtEvdeKisiDogTarih1" class="form-control" type="date" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="txtEvdeKisiDogYer1" type="text" id="txtEvdeKisiDogYer1" class="form-control" required="" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="txtEvdeKisiYakinlik1" type="text" id="txtEvdeKisiYakinlik1" class="form-control" required="" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2-)</td>
                                                                    <td>
                                                                        <input name="txtEvdeKisi2" type="text" id="txtEvdeKisi2" class="form-control" required="" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="txtEvdeKisiDogTarih2" id="txtEvdeKisiDogTarih2" class="form-control" type="date" required="" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="txtEvdeKisiDogYer2" type="text" id="txtEvdeKisiDogYer2" class="form-control" required="" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="txtEvdeKisiYakinlik2" type="text" id="txtEvdeKisiYakinlik2" class="form-control" required="" />
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-6 col-form-label text-left lb">Tahsisini istediğiniz konuta ilişkin tercihiniz</label>
                                                    <div class="col-sm-6">
                                                        <select name="DdlLojmanSemt" id="DdlLojmanSemt" class="form-control">
                                                            <option value="1">TOKİ</option>
                                                            <option value="2">KAMP&#220;S</option>
                                                            <option value="3">CİZRE</option>
                                                            <option value="4">İDİL</option>
                                                            <option value="5">SİLOPİ</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row" style="margin-top: 40px">
                                                    <div class="col-sm-12">

                                                        <label clss="lbl" style="font-size: 11px; color: red; font-weight: 400 !important">
                                                            <input type="checkbox" onchange="terms_changed(this)" />
                                                            <a href="admin/dosyalar/SU_Aydinlatma_Metni.pdf" target="_blank" style="text-decoration: underline">KVKK </a>kapsamında verilerimin işlenmesini ve yanlış bilgi ve belge beyanında bulunmam durumunda başvurumun geçersiz sayılacağını kabul ediyorum
                                                        </label>
                                                    </div>
                                                </div>
                                                <hr />

                                                <script type="text/javascript">
                                                    function terms_changed(termsCheckBox) {
                                                        if (termsCheckBox.checked) {
                                                            document.getElementById("btnBasvuru").disabled = false;
                                                            btnBasvuru.style.cssText = "color:white; background:#007bff; height:35px; font-size:12px; padding: .30rem .6rem; border:none; width:100%";
                                                        } else {
                                                            document.getElementById("btnBasvuru").disabled = true;
                                                            btnBasvuru.style.cssText = "color:#b1b1b1; background:#ececec; height:35px; font-size:12px; padding: .30rem .6rem; border:1px solid #d8d8d8; border-radius:2px; width:100%";
                                                        }
                                                    }
                                                </script>

                                            </div>
                                            <input type="submit" name="btnBasvuru" value="B a ş v u r u    Y a p" id="btnBasvuru" disabled="disabled" class="aspNetDisabled" class="btn btn-primary btn-md btn-block" style="width: 100%; height: 35px; font-size: 12px" />
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div>
                            </div>

                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- container fluid -->

            </div>

            </div>



            <script type="text/javascript">
                //<![CDATA[
                WebForm_AutoFocus('txtAdSoyad');//]]>
            </script>
        </form>
        <div class="container-fluid text-center mb-5 font-weight-bold">
            <p>Copyright © 2025 | Şırnak Üniversitesi Bilgi İşlem Daire Başkanlığı | Bütün hakları saklıdır</p>
        </div>

        <script src="admin/assets/js/jquery.min.js"></script>
        <script src="admin/assets/js/bootstrap.bundle.min.js"></script>
        <script src="admin/assets/js/modernizr.min.js"></script>
        <script src="admin/assets/js/detect.js"></script>
        <script src="admin/assets/js/fastclick.js"></script>
        <script src="admin/assets/js/jquery.slimscroll.js"></script>
        <script src="admin/assets/js/jquery.blockUI.js"></script>
        <script src="admin/assets/js/waves.js"></script>
        <script src="admin/assets/js/jquery.nicescroll.js"></script>
        <script src="admin/assets/js/jquery.scrollTo.min.js"></script>

        <!-- Bootstrap inputmask js -->
        <script src="admin/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

        <!-- App js -->
        <script src="admin/assets/js/app.js"></script>


    </body>
</html>

</main>
<!--end::App Main-->